/* 设置样式 */
html {
    font-size: 14px;
    color:rgb(3, 1, 1);
  }
  body {
    margin: 0;
  }
  ul,h1,h2,h3 {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  /*第一板块*/
  /*导航键*/
  .fast_nav {
      height: 33px;
      color: #d5d5d5;
    background-color: #545652;
    font-size: 12px;
    border: bottom 4px  solid #ededed;
  }
  .fast_nav .nav {
    float: left;
  }
  .fast_nav .nav >ul > li{
    float: left;
    width: 50px;
    text-align: center;
    line-height: 3em;
    cursor: pointer;
  }
  .fast_nav .nav >ul > li:hover {
    color:#d5d5d5;
  }
  
  .fast_nav .other {
    margin-right: 10px;
    float: right;
    font-size: 12px;
    line-height: 3em;
  }
  .fast_nav .other>span:nth-child(1) {
  padding: 0 25px  20px 0;
  border-right: 0 solid #ededed;
}
  .fast_nav .other > span :hover {
    color:#d5d5d5;
  }
  /*第二板块*/
  .new-header-bar{
  position: relative;
  z-index: 2;
  height: 127px;
}
.standard-header{    
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  height: 127px;
  background: #fff;
  padding: 25px 0;
  box-sizing: border-box;
}
.header-inner{
min-width: 950px;
max-width: 1100px;
margin: 0 auto;
font: inherit;
}
.header-logo{
  color: #44883e;
  font-size: 19px;
  float: left;
  line-height: 1;
  font-weight: bold;
}
.header-inner .header-logo>span:nth-child(1) {
  padding: 0 5px;
  border-right: 1px solid black;
}
.header-title{
float: left;
margin-top: 18px;
}
.header-right{
float: right;
text-align: right;
margin-top: 10px;
}
.header-text{
color: #3e3a39;
margin-bottom: 10px;
}
.header-price{
display: inline-block;
margin-right: 10px;
}
.img{
  vertical-align: middle;
  text-align: right;
}
.header-button{
  color: #fff;
display: inline-block;
margin-right: 0;
margin-top: 0;
cursor: pointer;
width: 110px;
height: 30px;
line-height: 30px;
font-size: 14px;
background: #dd1944;
text-align: center;
border-radius: 2px;
vertical-align: 10px;
}
/*图片板块*/
.picture1{
position: relative;
z-index: 1;
background: #f9f6f2 50% no-repeat;
margin: 0 auto;
}
.product-image-wrap{
position: relative;
z-index: 1;
min-height: 100px;
margin: 0 auto;
}
.pucture2{
  max-width: 100%;
display: block;
margin: 0 auto;
}
.last{
width: 100%;
height: 110px;
background-color: #f3f2f2;
border-top: 1px solid #f3f2f2;
padding-top: 50px;
padding-bottom: 45px;
margin-top: 60px;
color: #ababac;
left: 0;
}
.last-wapper{
height: 100px;
width: 1100px;
margin-left: auto;
margin-right: auto;
color: #ababac;
list-style: none;
text-align: center;
}
.last-left{
  float: left;
  font-size: 25px;
  font: inherit;
  text-align: center;
}
.left-botton{
  color: #ababac;
  float: left;
  font-size: 13px;
}
.last-info{
float: left;
margin: 0;
display: block;
text-align: left;
color: #ababac;
}
.page{
  color: #ababac;
}
.last-logo{
  margin: 0;
  display: block;
  line-height: 1em;
  text-align: left;
}
.last-right{
  float: right;
  margin: 0;
  color: #ababac;
  text-align: center;
}
.last-nav
{
  float: right;
  font-size: 16px;
margin-left: 50px;
margin-top: 5px;
}
.last-contacts{
  margin-top: 20px;
  float:right;
  margin-right: 20px;
}
.kong{
  text-align: center;
  margin-top: 50px;
}
.guige{
  color: #44883e;
  font-size: 25px;}