/*重置样式*/
html{
    color: #d5d5d5;
    background: #f6f6f6;
}
body{
    margin: 0;
}
ul,h1,h2,h3{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.wrapper{
    width：1263px;
    margin:0 auto;
}
/*快捷导航*/
.fast_nav{
    font-size: 12px;
    line-height: 2em;
    background-color: #545652;
}
.wrapper ul>li:hover{
    color: white;
}
.wrapper span:hover{
    color: white;
}
.fast_nav>.wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.fast_nav .nav{
    float: left;
}
.fast_nav .nav>ul>li{
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 3px;
}
.fast_nav .other{
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}
.fast_nav .other>span:nth-child(1){
    margin-right: 20px;
}
/* 内容 */
.content{
    width:650px;
    background-color: #ffffff;
    margin:0 auto;
}
.content::after{
    content: "";                                                       
    display: block;
    clear: both;
}
/*(650px-4*10px)/3=203px*/
.content>li{
    float:left;
    height:300px;
    width: 203px;
    margin-left:10px;
    margin-top: 20px;
    background-color: blue;
}
.content >li:nth-child(1){
    width: 600px;
    height:380px;
    margin-left: 25px;
}
.content >li:nth-child(2){
    background-color: #ffffff;
    font-size: 20px;
    width: 600px;
    height:20px;
    color: black;
}
.content >li:nth-child(6){
    width:650px;
    margin-left: 0;
    height:270px;
    border-top:18px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.content >li:nth-child(7){
    background-color: #ffffff;
    font-size: 20px;
    width: 600px;
    height:20px;
    color: black;
}
.content >li:nth-child(8){
    width:650px;
    margin-left: 0;
    height:270px;
}
.content >li:nth-child(9){
    background-color: #ffffff;
    font-size: 20px;
    width: 400px;
    height:20px;
    color: black;
}
.content >li:nth-child(10){
    background-color: #ffffff;
    float: right;
    width: 100px;
    height :20px;
    text-align: right;
    font-size: 13px;
    margin-right: 20px;
    color: black;
}
.content >li:nth-child(14){
    height: 200px;
    margin:25px;
}