/* 重置样式 */
html{
    font: size 14px;
    color:#333333;
}
body{
    margin:0;
}
ul,h1,h2,h3{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
a{
    color:#333333;
    text-decoration: none;
}
div{
    color:#d5d5d5;
    font-size:5px;
}

/* .wrapper
    width:1200px;
    margin:0 auto;
    background-color:#cccccc;
} */

/* 快捷导航 */
.fast_nav{

}