/* 重置样式 */
html{
    font:size 14px;
    color:#333333;
}
body{
    margin:0;
}
ul,h1,h2,h3{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
a{
    color:#3377aa;
    text-decoration: none;
}
a:hover{
    color:white;
    background-color:#3377aa;
}
.wrapper{
    width:1280px;
    margin:0 auto;
}
    

/* 快捷导航 */
.fast_nav{
    font-size:12px;
    color:#d5d5d5;
    background-color:#545652;
}
.fast_nav> .wrapper::after{
    content:"";
    display:block;
    clear:both;
}
.fast_nav .nav{
    float:left;
}
.fast_nav .nav >ul >li{
    float:left;
    width:50px;
    text-align:center;
    line-height:2.5em;
    cursor:pointer;
}
.fast_nav .nav >ul > li:hover{
    color:white;
}
.fast_nav .other{
    float:right;
    line-height:2.5em;
    margin-right:30px;
}
.fast_nav .other>span{
    cursor:pointer;
}
.fast_nav .other>span:hover{
    color:white;
}
.fast_nav .other>span:nth-child(1){
    padding:0 25px;
}
/* 顶部导航 */
.top_nav {
    background-color:#edf4ed;
}
.top_nav .nav{
    float:left;
}
.top_nav > .wrapper::after {
  display: block;
  content: "";
  clear: both;
}
.top_nav .logo {
  line-height: 60px;
  float: left;
  font-size: 26px;
  color: #1f8f2f;
  margin-left:70px;
  cursor:pointer;
}

.top_nav .logo >ul{
    float:left;
    /* margin-left:50px; */
}
.top_nav .logo >ul > li{
    float:left;
}
.top_nav .logo >ul > li:nth-child(2){
    color:#279337;
    line-height:80px;
    font-size:40px;
    /* float:left; */
    /* font-size:40px; */
}
.top_nav .logo >ul > li:nth-child(3){
    color:#1e94cc;
    line-height:80px;
    font-size:40px;
    /* float:left; */
}
.top_nav .logo >ul > li:nth-child(4){
    color:#f8c388;
    line-height:80px;
    font-size:40px;
    /* float:left; */
}
.top_nav .logo >ul > li:nth-child(5){
    color:#279337;
    line-height:80px;
    font-size:40px;
    /* float:left; */
}
.top_nav .logo >ul > li:nth-child(6){
    color:#1e94cc;
    line-height:80px;
    font-size:40px;
    /* float:left; */
}
.top_nav .logo >ul > li:nth-child(7){
    color:#f8c388;
    line-height:80px;
    font-size:40px;
    /* float:left; */
}
.top_nav .logo >ul{
    float:left;
    margin-left:50px;
    width:200px;
}
.top_nav .nav> li {
  float: left;
  width: 80px;
  text-align: center;
  margin-top:30px;
  color:#007722;
  cursor:pointer;
}
.top_nav .nav > li:hover{
    color:#edf4ed;
    background-color:#007722;
}

/* 简介 */
.introduction_nav {
    margin-left:130px;;
    width: 680px;
}
.introduction_nav > .wrapper::after {
  display: block;
  content: "";
  clear: both;
}
.introduction_nav .logo >ul{
    width:680px;
}
.introduction_nav .logo >ul >li:nth-child(1){
  margin-top: 50px;
  /* float: left; */
  font-size: 26px;
  color: #494949;
}
.introduction_nav .logo >ul >li:nth-child(3){
    cursor: pointer;
    width:20px;
    /* float:left; */
}
.introduction_nav .logo >ul >li:nth-child(4){
    float:left;
    color:#bbbbbb;
    cursor:pointer;
    font-size:15px;
}
.introduction_nav .logo >ul >li:nth-child(4):hover{
    color:white;
    background-color:#ffe0ce;
}
.introduction_nav .logo >ul >li:nth-child(2){
    float:right;
    width:100px;
    margin-right:400px;
    font-size:15px;
} 
.introduction_nav .logo >ul >li:nth-child(2) >a>p{
    color:#3377aa;
}
.introduction_nav .logo >ul{
    float:left;
}

/* 关于它的文字 */
.wenzi_nav {
    margin-top:100px;
    /* float:left; */
    border-top: 2px dashed #ededed;
    width:680px;
}
.wenzi_nav .wenzi >ul{
    /* float:left; */
}
.wenzi_nav .wenzi >ul >li{
    float:left;
    width:135px;
    color:#3377aa;
    line-height:2em;
    cursor:pointer;
}
.wenzi_nav .wenzi >ul >li:nth-child(1){
    width:23px;
}
.wenzi_nav .wenzi >ul >li:nth-child(3){
    width:23px;
}
.wenzi_nav .tuijian{
    text-align:right;
    margin-right:600px;
    /* float:right; */
    /* background-color:#f2f8f2; */
    color:#4f946e;
    line-height:2em;
    cursor:pointer;
}

.wenzi_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}
.wenzi_nav .wenzi > ul >li:nth-child(2):hover{
    color:white;
    background-color:#0088cc;
}
.wenzi_nav .wenzi > ul >li:nth-child(4):hover{
    color:white;
    background-color:#0088cc;
}
/* 关于豆瓣的照片 */
.zhaopian_nav {
    margin-top:20px;
    /* float:left; */
    background-color:#f7f7f7;
    width:680px;
}
.zhaopian_nav .zhaopian >ul{
    float:left;
    line-height:2em;
}
.zhaopian_nav .zhaopian >ul >li:nth-child(1){
    float:left;
}
.zhaopian_nav .zhaopian >ul >li:nth-child(2){
    float:left;
    margin-left:350px;
    color:#0088cc;
}
.zhaopian_nav .zhaopian >ul >li:nth-child(3){
    cursor: pointer;
}
.zhaopian_nav .zhaopian >ul >li:nth-child(2):hover{
    color:white;
    background-color:#0088cc;
}
.zhaopian_nav .tuijian{
    text-align:right;
    background-color:green;
    margin-right:600px;
    float:right;
}

.zhaopian_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}
/* 简介 话题 文字 */
.jianjie_nav{
    float:left;
}
.jianjie_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}
.jianjie_nav .jianjie{
    /* float:left; */
}
.jianjie_nav .jianjie >ul{
    float:left;
    color:#007722;
    line-height:4em;
    margin-top:30px;
    width:675px;
}
.jianjie_nav .jianjie >ul >li:nth-child(2){
    font-size:13px;
    line-height: 2em;
    margin-bottom:20px;
    color:black;

}
.jianjie_nav .jianjie >ul >li:nth-child(3){
    font-size:13px;
    /* line-height: 2em; */
    /* margin-bottom:20px; */
    color:black;
    float:right;
    margin-right:470px;
}
.jianjie_nav .jianjie >ul >li:nth-child(6){
    font-size:13px;
    /* line-height: 2em; */
    /* margin-bottom: 20px; */
    color:black;
    float:right;
    margin-right:383px;
}
.jianjie_nav .jianjie >ul >li:nth-child(5){
    font-size:13px;
    float:right;
    background-color:#ffdddd;
    color:#ff7676;
    border:1px solid #ffa4a4;
    line-height: 2em;
    cursor:pointer;
}
.jianjie_nav .jianjie >ul >li:nth-child(5):hover{
    background-color:#ff7676;
    color:white;
    border:1px solid red;
}
.jianjie_nav .jianjie >ul >li:nth-child(8){
    font-size:13px;
    color:black;
    margin-top:20px;
}
.jianjie_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}

/* 热门 */
.remen_nav{
    float:left;
    border-top:1px solid #dddddd;
    width:675px;
}
.remen_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}
.remen_nav .remen{
    /* float:left; */
}
.remen_nav .remen >ul{
    float:left;
    color:#3399cf;
    line-height:2em;
    width:675px;
}
.remen_nav .remen >ul >li:nth-child(1){
    float:right;
    font-size:13px;
    line-height: 2em;
    width:120px;
    color:#cccccc;
    margin-right:420px;
}
.remen_nav .remen >ul >li:nth-child(2){
    font-size:13px;
    height:25px;
    margin-right:570px;
    width:40px;
    float:right;
    cursor: pointer;
}
.remen_nav .remen >ul >li:nth-child(2):hover{
    color:white;
    background-color:#3399cf;
}
.remen_nav .remen >ul >li:nth-child(3){
    width:60px;
    float:right;
    cursor: pointer;
}
.remen_nav .remen >ul >li:nth-child(5){
    font-size:14px;
    margin-bottom:10px;
    width:675;
    cursor: pointer;
}
.remen_nav .remen >ul >li:nth-child(7){
    float:right;
    font-size:14px;
}
.remen_nav .remen >ul >li:nth-child(6){
    font-size:13px;
    /* line-height: 2em; */
    /* margin-bottom: 20px; */
    color:black;
    cursor: pointer;
}

.remen_nav .remen >ul >li:nth-child(8){
    font-size:14px;
    float:right;
    margin-right:450px;
    line-height: 2em;
    cursor: pointer;
}
.remen_nav .remen >ul >li:nth-child(8):hover{
    color:white;
    background-color:#3399cf;
}
.remen_nav .remen >ul >li:nth-child(9){
    cursor: pointer;
}
.remen_nav > .wrapper::after {
    display: block;
    content: "";
    clear: both;
}

/* 底部导航 */
.bottom_nav{
    font-size:12px;
    color:#3399cf;
    border-top:1px dashed #dddddd;
}
.bottom> .wrapper::after{
    content:"";
    display:block;
    clear:both;
}
.bottom_nav .bottom{
    float:left;
}
.bottom_nav .bottom >ul >li{
    float:left;
    width:50px;
    text-align:center;
    line-height:2.5em;
    cursor:pointer;
}
.bottom_nav .bottom >ul > li:hover{
    color:white;
}
.bottom_nav .guanyu{
    float:left;
    line-height:2.5em;
    margin-right:30px;
    color:#e8e8e8;
    width:200px;
}
.bottom_nav .guanyu>ul{
    width:300px;
}